<fieldset class="wrapper column">
  <legend>Address</legend>
  <label>
    <span class="blind">Street</span>
    <input placeholder="Street" ng-model="address.modelobj.address.street" ng-required="true" type="text"/>
  </label>
  <label>
    <span class="blind">Unit</span>
    <input placeholder="Unit" ng-model="address.modelobj.address.unit" type="text"/>
  </label>
  <label>
    <span class="blind">City</span>
    <input placeholder="City" ng-model="address.modelobj.address.city" ng-required="true" type="text"/>
  </label>
  <label>
    <span class="blind">Postal Code</span>
    <input placeholder="Postal Code" ng-model="address.modelobj.address.postal" ng-required="true"
           ng-change="address.tryGetState()" type="text" />
  </label>
  <output>
    <div>{{ address.modelobj.address.street }}</div>
    <div>{{ address.modelobj.address.unit }}</div>
    <div>
      <span>{{ address.modelobj.address.city }},</span>
      <span>{{ address.modelobj.address.state }}</span>
      <span>{{ address.modelobj.address.postal }}</span>
    </div>
  </output>
</fieldset>
