<style >
  #nav_hide{ display: none;}
  .blind{
    position: absolute;
    z-index: -2;
  }
  .wrapper{
    display: flex;
  }
  .row{
    flex-direction: row;
  }
  .column{
  flex-direction: column;
  }
</style >
<form class="signup wrapper column" >
  <fieldset class="form-group wrapper column">
    <legend>Your Name</legend>
    <label>
      <span class="blind">First name.</span>
      <input type="text" placeholder="First Name" />
    </label>
    <label>
      <span class="blind">Last name.</span>
      <input type="text" placeholder="Last Name" />
    </label>
  </fieldset>
  <fieldset>
    <legend>{{ person.identity }} Contact Info</legend>
    <label>
      <span class="blind">Email.</span>
      <input placeholder="Email" type="email" />
    </label>
    <div class="tooltip">
      <p>We only want to know for confirmation purposes, if you <em>want</em> to sign up for our newsletter, there is a
       different place to fill that out. </p>
    </div>
    <div class="wrapper column">
      <label>
        <span class="blind">Phone Number</span>
        <input placeholder="Phone number" type="tel"/>
      </label>
      <fieldset class="wrapper column">
        <legend>Type of Phone</legend>
        <label>
          <span>Cell</span>
          <input ng-model="phone.type" name="phone-type" type="radio"/>
        </label>
        <label>
          <span>Landline</span>
          <input ng-model="phone.type" name="phone-type" type="radio"/>
        </label>
      </fieldset>
      <fieldset class="wrapper column">
          <legend>Type of Number</legend>
        <label>
          <span>Home</span>
          <input ng-model="phone.context" name="phone-context" type="radio"/>
        </label>
        <label>
          <span>Work</span>
          <input ng-model="phone.context" name="phone-context" type="radio"/>
        </label>
        <label>
          <span>Mobile</span>
          <input ng-model="phone.context" name="phone-context" type="radio"/>
        </label>
      </fieldset>
    </div>

    <address model="address"></address>
  </fieldset>
  <fieldset>
    <legend>Are you the person with the illness?</legend>
    <label><span>No.</span> <input ng-model="person.isPatient" type="checkbox" /></label>
    <div ng-if="person.isPatient">
      <fieldset>
        <legend>What is your relationship to the patient?</legend>
        <select name="relationship" id="relationship" >
          <option value="doctor" >Doctor</option >
          <option value="parent" >Parent</option >
          <option value="sibling" >Sibling</option >
          <option value="child" >Child</option >
          <option value="grandchild" >Grand-child</option >
          <option value="greatgrandchild" >Great-grand-child</option >
          <option value="friend">Friend</option >
          <option value="none">None of the above</option >
        </select >
      </fieldset>
      <fieldset class="form-group wrapper column">
        <legend>Is the person still living?</legend>
        <label><span>Yes</span><input ng-model="person.alive" ng-value="true" type="radio"/></label>
        <label><span>No</span> <input ng-model="person.alive" ng-value="false" type="radio"/></label>
        <div ng-if="person.alive === false">Sorry to hear that.</div>
        <fieldset ng-if="person.alive === true">
            <legend>Please enter their contact information.</legend>
            <address model="person"></address>
        </fieldset>
      </fieldset>
    </div>
  </fieldset>
  <button class="btn btn-default">Submit</button>
</form >
