<form id="sign-up">
	<fieldset>
		<legend>Your Contact Info</legend>
		<input type="text" required="true" aria-required="true" name="fn" placeholder="First Name"/>
		<input type="text" required="true" aria-required="true" name="ln" placeholder="Last Name"/>
		<input type="email" required="true" aria-required="true" name="em" placeholder="email"/>
	</fieldset>
	<fieldset>
		<legend>Prove you're not a robot</legend>
		<label >Write a word that begins with the first letter in the color <span style="unicode-bidi:bidi-override; direction: rtl;">elprup</span>
			<input type="text" required="true" aria-required="true" name="answer" />
		</label>
		<button type="submit">Log in</button>
	</fieldset>
</form>
